<h3>Edit profile</h3>

<form action = "/edit_user/<%= @user.id %>">
  <input type = "text" name = "name" placeholder = "Name">
  <input type = "text" name = "date" placeholder = "Join date">
  <input type = "text" name = "descrip" placeholder = "Description">
  <input type = "text" name = "image" placeholder = "Image URL">
  <input type = "text" name = "loc" placeholder = "Location">
  <input type = "submit">
</form>